body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;

}
div {
  display: block;


}

h1 {
  color: #49beb7;
  font-size: 100px;
  margin-top: 0;
  font-family: 'Sacramento', cursive;
  font-weight: 900;

}
p {
  color: #49beb7 ;
  position: relative;
  font-size: 1.75rem;
  top: -50px;
  font-weight:1200;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  color: #49beb7;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}
h3 {
  font-family: 'Montserrat', sans-serif;
  color: #49beb7;
  font-weight: bold;


}
.top {

  background-size:100% 100%;

  background-color: #eaf5ff ;
  position: relative;
  padding-top: 200px;

}


.contact-me{
  color: #454d66;
  width: 40%;
  margin: 40px auto 60px;
  padding-bottom: 20px;

}
.intro
{
  width: 50%;
  padding-bottom: 30px;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
  color: #738598;
  font-size: 20px;

}

hr {
  border: dotted #393e46 6px;
  border-bottom: none;
  width: 4%;
  margin: 10px auto;
}

.bottom-cloud
{
  position: absolute;
  left: 200px;
  top: 400px;
}
.top-cloud
{
  position: absolute;
  right: 200px;
  top: 110px;
}
.mid-pic{
   padding: 25px;
   width:200px;
   height: 200px;
   border-radius: 50%;

}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

p1 {
  font-family: 'Montserrat', sans-serif;

}
p3 {
  padding: 20px  0;
  line-height: 2;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;

}



.bottom-container {
  background-color: #49beb7;
  padding: 10px 0 10px;
}

a {
  color: #eaf5ff;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 25px;
  text-decoration: none;
}

//adding twisty animation
html{
  background: black;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.container{
  height: 300px;
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -150px 0 0 -150px;
}

.square{
  height: 94%;
  width: 94%;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -47% 0 0 -47%;
}

.black{ 
  background: black;  
  animation: rotate 10s infinite linear; 
}

@keyframes rotate{
  0%{ transform: rotate(0deg); }
    100%{ transform: rotate(360deg); }  
}
